.homeWrapper{
  width: 100%;
  background-color: black;
  height: auto;
}

.homeContent{
  width:100%;
  /* max-width: 1324px; */
  min-width: 1000px;
  background:url('../src/assets/jpg/mrjapure-season-2.jpg') no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
  height: 500px;
}

.secondContainer{
  width: 100%;
  background: black;
 
  height: auto;
  padding:60px;
  box-sizing: border-box;
}

.thirdContainer{
  width: 100%;
  background: black;
 
  height: auto;
  padding:60px;
  padding-top: 0;
  box-sizing: border-box;
}

.secondContent{
  max-width: 1324px;
  min-width: 1000px;
  min-height: 300px;
  background-color:rgb(37, 36, 36);
  padding: 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

.thirdContent{
      width: 100%;
      max-width: 1324px;
      min-width: 1000px;
      margin: 0 auto;
      min-height: 300px;
      background-color:rgb(37, 36, 36);
      padding: 40px;
      background:url('../src/assets/jpg/mrjapure-season-2.jpg') no-repeat;
      background-size: 100% 100%;

      box-sizing: border-box;
}

.boldHeading{
  font-weight: 600;
  color: orangered;
  font-size: 32px;
}
.contentCenter{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rowBlock{
  display: flex;
  /* align-content: space-between; */
  justify-content: space-around;

}
.columnBlock{
  display:flex;
  flex-direction: column;
  width: 290px;
  height: auto;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
}
.roundBlock{
  width: 180px;
  height: 180px;
  border: 1px solid tan;
  border-radius: 50%;
  border-width: 4px;
  border-color: orangered;
  background: url('./assets/jpg/person.jpg') no-repeat;
}